/*
COLORS:
#9DEDF1 light-blue
#00D3D7 mint
#FEEBE4 light-peach
#FFAA81 peach
#052626 not-black
*/

/*
id блоков:
	#offer
	#works
	#benefits
	#variable
	#about
	#faq
	#footer
*/

/*Общие настройки страницы и элементов
(кнопки, фон и тп)*/

body{
	color: #052626;
}

ul{
	list-style: none;
}

.btn-white {
    color: #00D3D7;
    background-color: #fff;
    border-color: #fff;
}

.btn-peach {
    color: #fff;
    background-color: #FFAA81;
    border-color: #FFAA81;
}

#offer{
	background: #9DEDF1 url('img/bg.jpg') no-repeat top;
	background-size: cover;
	height: 100vh;
}

#offer .container{
	background: url('img/bg-avatar.png') no-repeat 50%;
	background-size: auto 65%;
	background-position: bottom;
	height: 100vh;
}

#offer .container .row .row{
	height: 100vh;
}

#works, #variable, #faq{
	background-color: #FEEBE4;
}

#works h2, #variable h2, #faq h2{
	color: #FFAA81;
}

#benefits, #about, #footer{
	background-color: #9DEDF1;
}

#offer h1, #benefits h2, #about h2, #footer h2{
	color: #00D3D7;
}

.offer-extra, .form-extra{
	color: #FFAA81;
	font-size: 18px;
}

/*Более детальные настройки блоков*/

.offer-header{
	background: url('img/bg-header_brush.png') no-repeat center;
	background-size: 100% 100%;
	padding: 20px 30px 30px 50px;
	display: inline-block;
/*	width: 100%;
	height: 100%;*/
}

.works-header, .benefits-header, .variable-header, .about-header, .faq-header{
	background: url('img/bg-header_brush.png') no-repeat center;
	background-size: 100% 100%;
	padding: 20px 30px 30px 50px;
	display: inline-block;
}

#offer .offer{
	height: 100%;
}

/*#offer button{
	position: absolute;
	top: 80%;
}*/

#works .bg-phone{
	background: url('img/bg-phone.png') no-repeat center;
	width: 301px;
	height: 602px;
	margin: 0 auto;
}

#works .size{
	padding: 69px 20px;
/*	position: absolute;
	top: 69px;
	left: 20px;
	bottom: : 69px;
	right: : 20px;*/

}

#variable .variable-item:after{
	content: "";
	display: block;
	height: 2px;
	background-color: #00D3D7;
	width: 25px;
	margin: 0 auto;
}

#faq .faq-item, #faq button{
	display: block;
	color: #052626;
}

#faq 











